---
layout: home
headline: Software Services
subheadline: by wizards, for magical muggles
description: We build solutions that require wizardry to craft, but only an imagination to use.<br />Our software services are perfectly tailored for businesses of any size at prices that fit any budget.<br /><br /><big>We can make your ideas come to life.</big>
links:
  - url: /what/#services
    title: Our Services
  - url: /contact/
    title: Contact Us
---
<section class="text-center well well-sm text-md-left section-border">
  <div class="container">
    <div class="row flow-offset-2">
      <div class="col-md-4">
        <h4><a class="text-uppercase" href="{{ site.baseurl }}/who/">Who We Are</a></h4>
        <hr class="short bg-primary">
        <p>
          We are software engineers who pride ourselves on innovation and craftsmanship, and a laser focus on providing you world-class customer service.
        </p>
        <p><a href="{{ site.baseurl }}/who/" class="btn btn-primary btn-xs round-small">Read more</a></p>
      </div>
      <div class="col-md-4">
        <h4><a class="text-uppercase" href="{{ site.baseurl }}/why/">Why We Exist</a></h4>
        <hr class="short bg-primary">
        <p>
          We have a passion for envisioning, designing, and building solutions to real-world problems in a variety of industries, environments, and problem domains.
        </p>
        <p><a href="{{ site.baseurl }}/why/" class="btn btn-primary btn-xs round-small">Read more</a></p>
      </div>
      <div class="col-md-4">
        <h4><a class="text-uppercase" href="{{ site.baseurl }}/what/">What We Do</a></h4>
        <hr class="short bg-primary">
        <p>
          We live in a world of hammers, but you can rest assured we aren't just playing with the latest tools, we're building a perfect-fit solution just for you.
        </p>
        <p><a href="{{ site.baseurl }}/what/" class="btn btn-primary btn-xs round-small">Read more</a></p>
      </div>
    </div>
  </div>
</section>

<section class="well well-sm well-inset-3 bg-image bg-image-1 bg-image-1--mod-custom text-center bg-image-1--mod-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Subscribe to our Newsletter</h1>
        <p class="lead">Sign up for our newsletter and be the first to know about the latest company news, community events, and a discount for <strong>10%</strong> savings on the first <em>year</em> of services with us.</p>
        <form class="offset-1 label-insets rd-mailform" method="post" action="{{ site.google.scripts.url }}">
          <input type="hidden" name="form-type" value="subscribe" />
          <input type="hidden" name="challenge" id="challenge" value="{{ site.google.scripts.challenge }}" />
          <div class="form-group col-sm-8 col-sm-offset-1">
            <label for="email" class="sr-only">E-mail</label>
            <input type="email" id="email" name="email" placeholder="example@domain.com" data-constraints="@NotEmpty @Email" class="form-control" />
          </div>
          <div class="form-group col-sm-3">
            <button type="submit" class="btn btn-primary btn-xs round-xl">Subscribe</button>
          </div>
          <div class="mfInfo"></div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="text-center well well-sm text-md-left section-border bg-lighter">
  <div class="container">
    <div class="row flow-offset-2">
      <div class="col-xs-6 col-xs-6--mod-1 col-md-4">
        <div class="box-md box-variant-1">
          <div class="box__left box-md-inset-1">
            <span class="icon icon-md text-info material-icons-web"></span>
          </div>
          <div class="box__body box__middle">
            <h5><a href="{{ site.baseurl }}/what/#web">Web Development</a></h5>
          </div>
        </div>
        <p>We have over a decade of experience in building for the web from UI/UX to server to database in order to bring you the best pos&hellip;</p>
        <p><a href="{{ site.baseurl }}/what/#web" class="btn btn-info btn-xs round-small">Read more</a></p>
      </div>
      <div class="col-xs-6 col-xs-6--mod-1 col-md-4">
        <div class="box-md box-variant-1">
          <div class="box__left box-md-inset-1">
            <span class="icon icon-md text-info material-icons-smartphone"></span>
          </div>
          <div class="box__body box__middle">
            <h5><a href="{{ site.baseurl }}/what/#mobile">Mobile Apps</a></h5>
          </div>
        </div>
        <p>Our web experience allows us to focus on mobile-first apps that are as enjoyable to use as they are to build and run on any device with&hellip;</p>
        <p><a href="{{ site.baseurl }}/what/#mobile" class="btn btn-info btn-xs round-small">Read more</a></p>
      </div>
      <div class="col-xs-6 col-xs-6--mod-1 col-md-4">
        <div class="box-md box-variant-1">
          <div class="box__left box-md-inset-1">
            <span class="icon icon-md text-info material-icons-equalizer"></span>
          </div>
          <div class="box__body box__middle">
            <h5><a href="{{ site.baseurl }}/what/#analytics">Analytics &amp; Dashboards</a></h5>
          </div>
        </div>
        <p>Our background is in data, and we love building applications that both process and analyze data in preparation for striking visual&hellip;</p>
        <p><a href="{{ site.baseurl }}/what/#analytics" class="btn btn-info btn-xs round-small">Read more</a></p>
      </div>
      <div class="col-xs-6 col-xs-6--mod-1 col-md-4">
        <div class="box-md box-variant-1">
          <div class="box__left box-md-inset-1">
            <span class="icon icon-md text-info material-icons-filter_none"></span>
          </div>
          <div class="box__body box__middle">
            <h5><a href="{{ site.baseurl }}/what/#events">Event-Driven Architectures</a></h5>
          </div>
        </div>
        <p>Things happen in real time, so we build applications capable of modeling the real world, allowing us to focus on problem domains&hellip;</p>
        <p><a href="{{ site.baseurl }}/what/#events" class="btn btn-info btn-xs round-small">Read more</a></p>
      </div>
      <div class="col-xs-6 col-xs-6--mod-1 col-md-4">
        <div class="box-md box-variant-1">
          <div class="box__left box-md-inset-1">
            <span class="icon icon-md text-info material-icons-storage"></span>
          </div>
          <div class="box__body box__middle">
            <h5><a href="{{ site.baseurl }}/what/#data">Data Warehouses</a></h5>
          </div>
        </div>
        <p>Efficiently organizing and managing data is key in today's competitive landscape, and we have several years of experience in data processing&hellip;</p>
        <p><a href="{{ site.baseurl }}/what/#data" class="btn btn-info btn-xs round-small">Read more</a></p>
      </div>
      <div class="col-xs-6 col-xs-6--mod-1 col-md-4">
        <div class="box-md box-variant-1">
          <div class="box__left box-md-inset-1">
            <span class="icon icon-md text-info material-icons-wb_cloudy"></span>
          </div>
          <div class="box__body box__middle">
            <h5><a href="{{ site.baseurl }}/what/#integration">Vendor Integration</a></h5>
          </div>
        </div>
        <p>With an overwhelming number of vendors creating disjointed products, we provide integration services to unify your world and create a truly&hellip;</p>
        <p><a href="{{ site.baseurl }}/what/#integrations" class="btn btn-info btn-xs round-small">Read more</a></p>
      </div>
    </div>
  </div>
</section>

<section class="well well-sm well-inset-2 text-center text-md-left">
  <div class="container">
    <h1 class="text-center">Latest Article</h1>
    <div class="row flow-offset-2">
      {% for post in site.categories.articles limit: 1 %}
        <div class="col-sm-12">
          {% include _post.html %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="well well-sm well-inset-2 text-center bg-image-5">
  <div class="jumbotron jumbotron--mod-1">
    <h1><small>In case you didn't know...</small><span class="text-normal">We do much more than code</span></h1>
    <div class="btn-group-variant">
      <a href="{{ site.baseurl }}/what/#technologies" class="btn btn-default round-xl btn-sm">Learn About Our Stack</a>
    </div>
  </div>
</section>

<section class="well well-sm well-inset-2 text-center text-md-left">
  <div class="container">
    <h1 class="text-center">Latest Posts</h1>
    <div class="row flow-offset-2">
      {% for post in site.categories.posts limit: 3 %}
        <div class="col-sm-6 col-md-4">
          {% include _post.html thumbnail=true %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
