{% comment %}
#
#   Liquid variables are created at the top to keep the source DRY and clean.
#   Idea by ericcarlisle.com
#
#   Variables › {{ url }} › site.url + site.baseurl
#   Variables › {{ description }} › excerpt, page.meta_description, or site.description
#   Variables › {{ title }} › page.title
#
{% endcomment %}{% capture ignore %}

{% assign url = site.baseurl | prepend: site.url %}

{% capture description %}{% if page.meta_description %}{{ page.meta_description }}{% elsif page.teaser %}{{ page.teaser }}{% elsif page.excerpt %}{{ page.excerpt }}{% elsif site.description %}{{ site.description }}{% endif %}{% endcapture %}
{% assign description = description | strip_html | escape | strip | truncate: 160 %}

{% capture title %}{% if page.meta_title %}{{ page.meta_title}}{% elsif page.title %}{{ page.title }} | {{ site.title | escape }}{% else %}{{ site.title | strip_html | strip }}{% endif %}{% endcapture %}

{% assign title = title | strip_html | escape | strip_newlines %}

{% endcapture %}<head>
  {% if site.google_analytics_tracking_id %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_tracking_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics_tracking_id }}');
  </script>
  {% endif %}

  <!-- Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Site Title -->
  <title>{{ title }}</title>

  <!-- Search Engine Optimization -->
  <meta name="description" content="{{ description }}" />
  {% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification}}" />{% endif %}
  {% if site.bing_webmastertools_id %}<meta name="msvalidate.01" content="{{ site.bing_webmastertools_id }}" />{% endif %}
  {% if site.yandex_site_verification %}<meta name="yandex-verification" content="{{ site.yandex_site_verification }}" />{% endif %}
  {% if site.google_author %}<link rel="author" href="{{ site.google_author }}" />{% endif %}
  {% if site.alexa_verify_id %}<meta name="alexaVerifyID" content="{{ site.alexa_verify_id }}" />{% endif %}
  {% if page.noindex == true or layout.noindex == true %}<meta name="robots" content="noindex" />{% endif %}
  <link rel="canonical" href="{{ page.url | remove: 'index.html' | prepend: site.baseurl | prepend: site.url }}" />

  {% if site.facebook_username %}
  <!-- Facebook Open Graph -->
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:url" content="{{ url }}{{ page.url }}" />
  <meta property="og:locale" content="{% if site.og_locale == nil %}en_EN{% else %}{{ site.og_locale }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ site.title }}" />
  {% if page.image.title %}<meta property="og:image" content="{{ url }}/images/{{ page.image.title }}" />{% endif %}
  <meta property="article:author" content="https://www.facebook.com/{{ site.facebook_username }}" />
  {% endif %}

  {% if site.twitter_username %}
  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="{{ site.twitter_username }}" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  {% if page.image.title %}<meta name="twitter:image" content="{{ url }}/images/{{ page.image.title }}" />{% endif %}
  {% endif %}

  <!-- Stylesheets -->
  <link rel="icon" href="{{ site.baseurl }}/images/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
  <link type="text/plain" rel="author" href="{{ site.baseurl }}/humans.txt" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />

  {% include favicon.html %}

  {% unless page.style == NULL %}
  <style type="text/css">{{ page.style }}</style>
  {% endunless %}

  {% if page.reCaptcha %}
  <script>
    function onReCaptchaSuccess(token) {
      $("#rd-comments-form").submit();
    }
  </script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  {% endif %}
  <!--[if lt IE 10]>
      <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/.."><img src="{{ site.baseurl }}/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
      <script src="{{ site.baseurl }}/js/html5shiv.min.js"></script><[endif]-->
</head>
