<header class="bg-image bg-image-2 bg-image-2--mod-custom well-inset-3">
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar top-panel-none-items" data-layout="rd-navbar-fixed" data-hover-on="false" data-stick-up="false" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-static">
      <div class="rd-navbar-inner">
        {% include navbar-panel.html %}

        <div class="rd-navbar-nav-wrap">
          {% include navbar-search.html %}
          {% include navbar-navigation.html %}
        </div>
      </div>
    </nav>
  </div>

  <section class="text-center">
    {% if page.headline %}
      <div class="jumbotron text-center offset-large">
        <h1 class="text-uppercase">{{ page.headline }}<small>{{ page.subheadline }}</small></h1>
      </div>
    {% endif %}

    {% unless page.breadcrumb == false %}
      {% include breadcrumb.html %}
    {% endunless %}
  </section>

  {% if page.format == 'contact' %}
    {% include contact.html %}
  {% elsif page.format == '404' %}
    {% include 404.html %}
  {% elsif page.format == 'maintenance' %}
    {% include maintenance.html %}
  {% elsif page.format == 'login' %}
    {% include login.html %}
  {% elsif page.format == 'register' %}
    {% include register.html %}
  {% elsif page.format == 'coming' %}
    {% include coming.html %}
  {% elsif page.format == 'unsubscribe' %}
    {% include unsubscribe.html %}
  {% endif %}
</header>