<header class="page-header subpage_header">
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar top-panel-none-items" data-layout="rd-navbar-fixed" data-hover-on="false" data-stick-up="false" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-static">
      <div class="rd-navbar-inner">
        {% include navbar-panel.html %}

        <div class="rd-navbar-nav-wrap">
          {% include navbar-search.html %}
          {% include navbar-navigation.html %}
        </div>
      </div>
    </nav>
  </div>

  {% include swiper.html %}
</header>
