<section class="well-xl text-center user-info-section">
  <div class="container">
    <h1 class="text-uppercase text-white">The website is<small class="text-white text-bold">in maintenance mode</small></h1>
    <div class="col-md-8 col-md-offset-2 well well-sm">
      <p class="text-white">
        In order to serve you better, this website is in maintenance mode, and will be back online within a few days. In the mean time, please use the form below to request notification of when the site is back online. We value your patience as we upgrade the website.
      </p>
    </div>

    <form class="offset-1 text-white rd-mailform" method="post" action="{{ site.google.scripts.url }}">
      <input type="hidden" name="form-type" value="notify" />
      <input type="hidden" name="challenge" id="challenge" value="{{ site.google.scripts.challenge }}" />
      <div class="form-group col-sm-4 col-sm-offset-3">
        <label for="email" class="sr-only">E-mail</label>
        <input type="email" id="email" name="email" placeholder="example@domain.com" data-constraints="@NotEmpty @Email" class="text-white form-control bg-rgba" />
      </div>
      <div class="form-group col-sm-3">
        <button type="submit" class="btn btn-primary btn-xs round-xl">Notify when online</button>
      </div>
      <div class="mfInfo"></div>
    </form>
  </div>
</section>
