<ul class="rd-navbar-nav">
  {% for link in site.data.navigation %}
    {% if link.title %}
      <li class="{% if link.url == page.url %}active{% endif %} {% if link.class %}{{ link.class }}{% endif %}">
        <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>

        {% if link.megamenu %}
          <ul class="rd-navbar-megamenu">
            {% for megamenu_item in link.megamenu %}
              <li>
                <p>{{ megamenu_item.title }}</p>
                <ul>
                  {% for dropdown_link in megamenu_item.dropdown %}
                    <li><a class="{% if dropdown_link.url == page.url %}active{% endif %} {% if dropdown_link.class %}{{ dropdown_link.class }}{% endif %}" href="{{ dropdown_link.url | prepend: site.baseurl }}">{{ dropdown_link.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        {% elsif link.dropdown %}
          <ul class="rd-navbar-dropdown">
            {% for dropdown_link in link.dropdown %}
              <li><a class="{% if dropdown_link.url == page.url %}active{% endif %} {% if dropdown_link.class %}{{ dropdown_link.class }}{% endif %}" href="{{ dropdown_link.url | prepend: site.baseurl }}">{{ dropdown_link.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
