<div class="rd-navbar-search" rdsearch="true">
  <form method="get" action="{{ site.baseurl }}/search/" class="rd-navbar-search-form">
    <label class="rd-navbar-search-form-input">
      <input type="text" name="q" placeholder="Search.." autocomplete="off" />
    </label>
    <button type="submit" class="rd-navbar-search-form-submit"></button>
  </form><span class="rd-navbar-live-search-results"></span>
  <button data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-live-search-results" class="rd-navbar-search-toggle"></button>
</div>
