<h5>Construction</h5>
<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<h5>Latest Projects</h5>
<div class="img-box">
  <a href="#"><img src="{{ site.baseurl }}/images/sidebar-2.jpg" alt=""></a>
  <a href="#"><img src="{{ site.baseurl }}/images/sidebar-3.jpg" alt=""></a>
  <a href="#"><img src="{{ site.baseurl }}/images/sidebar-4.jpg" alt=""></a>
  <a href="#"><img src="{{ site.baseurl }}/images/sidebar-5.jpg" alt=""></a>
  <a href="#"><img src="{{ site.baseurl }}/images/sidebar-6.jpg" alt=""></a>
  <a href="#"><img src="{{ site.baseurl }}/images/sidebar-7.jpg" alt=""></a>
</div>
<h5>Latest News</h5>
<ul class="list-unstyled-2">
  <li><a href="#" class="text-primary">Station place</a></li>
  <li><a href="#" class="text-primary">Town center one at dadeland</a></li>
  <li><a href="#" class="text-primary">Maspeth high school</a></li>
  <li><a href="#" class="text-primary">Town center</a></li>
  <li><a href="#" class="text-primary">Private residence</a></li>
</ul>
<h5>Sponsor Widgets</h5>
<div class="img-box">
  <a href="#"><img src="{{ site.baseurl }}/images/sidebar-8.jpg" alt=""></a>
  <a href="#"><img src="{{ site.baseurl }}/images/sidebar-8.jpg" alt=""></a>
  <a href="#"><img src="{{ site.baseurl }}/images/sidebar-8.jpg" alt=""></a>
  <a href="#"><img src="{{ site.baseurl }}/images/sidebar-8.jpg" alt=""></a>
</div>
