<section>
  <div data-autoplay="7500" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
    <div class="jumbotron text-center">
      {% include header-content.html %}
    </div>
    <div class="swiper-wrapper">
      <div data-slide-bg="{{ site.baseurl }}/images/stock/redwood-national-park-1920.jpg" class="swiper-slide">
        <div class="swiper-slide-caption"></div>
      </div>
      <div data-slide-bg="{{ site.baseurl }}/images/stock/wood2-1920.jpg" class="swiper-slide">
        <div class="swiper-slide-caption"></div>
      </div>
      <div data-slide-bg="{{ site.baseurl }}/images/stock/cityscape-1920.jpg" class="swiper-slide">
        <div class="swiper-slide-caption"></div>
      </div>
      <div data-slide-bg="{{ site.baseurl }}/images/stock/landscape2-1920.jpg" class="swiper-slide">
        <div class="swiper-slide-caption"></div>
      </div>
      <div data-slide-bg="{{ site.baseurl }}/images/stock/zion-park-1920.jpg" class="swiper-slide">
        <div class="swiper-slide-caption"></div>
      </div>
    </div>
  </div>
</section>